
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body p {
  font-family: serif;
  line-height: 1.5;
  margin-top: 15px;
}

blockquote {
  font-style: italic;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
}

header {
  border-bottom: 2px solid grey;
}

.container {
  margin: 0 auto;
  width: 720px;
}

small.page_no {
  float: right;
  color: #ddd;
}

.pagination {
  background-color: #eee;
  margin: 10px 0px;
}

.pagination a {
  color: #222;
  text-decoration: none;
}

.pagination a.disabled {
  color: #ccc;
}


